@import 'parts/_variables'
@import 'parts/_display'
@import 'parts/_layout'
@import 'parts/_hardcore'
@import 'parts/_spec'
@import 'parts/_top_nav'
@import 'parts/_footer'
@import 'parts/_header'
// @import 'fonts'


// #top
//   .av_one_full
//     .av_textblock_section
//       .avia_textblock   
//         -webkit-clip-path: polygon(0 0%,100% 0,90% 100%,0 100%)
//         clip-path: polygon(0 0%,100% 0,90% 100%,0 100%)
//         width: auto
//         max-width: 70%
//         min-width: 65%
//         position: relative
        // &::after
        //   // background: rgba(25,25,25,.7)
        //   background: #000
        //   width: 20px
        //   height: 50px
        //   content: ''
        //   display: block
        //   position: absolute
        //   right: 0
        //   bottom: 0



#top
  .title_grid_row
    .flex_cell
      // min-height: 70vw
    .title_wrap
      .av_one_full
        padding: 30px 
        width: auto
        max-width: 90%
        min-width: 65%
        position: relative
        &::before
          width: 100%
          height: 100%
          z-index: -2
          background: rgba(25, 25, 25, 0.7)
          -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%)
          clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%)
          position: absolute
          left: 0 
          bottom: 0
          visibility: visible
          overflow: visible
        &::after
          content: ''
          background: red
          display: block
          width: 11%
          height: 73%
          position: absolute
          right: 0
          bottom: 0
          background: rgba(25, 25, 25, 0.7)
          -webkit-clip-path: polygon(100% 0, 38% 100%, 100% 100%)
          clip-path: polygon(100% 0, 63% 100%, 100% 100%)
          visibility: visible
          z-index: 3
      .av-special-heading-tag
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 30px
        // text-transform: uppercase
        color: #F0F2F4
      .avia_textblock 
        display: flex
        flex-wrap: wrap
        p
          font-weight: 600
          font-size: 20px
          text-transform: uppercase
          color: #F0F2F4
          margin: 0 12px 0 0
          line-height: 1
          &:nth-child(2)
            color: $accent

#top
  .first_section_oferta-cild_custome
    .av_textblock_section 
      padding: 55px 55px 55px calc( var(--marginB) + 50px )
      background: rgba(25, 25, 25, 0.7)
      width: auto
      max-width: 70%
    .avia_textblock h1 
      font-weight: bold
      font-size: 50px
      line-height: 68px
      color: $text-white
      margin-bottom: 0



#top
  #wrap_all
    .custom-left-wrap
    > .flex_cell_inner
        margin-left: auto


#top     
  .second_section_home_cust
    display: flex
    // justify-content: flex-end
    align-items: center
    flex-wrap: wrap
    // flex-direction: column
    background: #F0F2F4
    .av_three_fifth
      width: 100% !important
      .avia_textblock
        h2  
          margin-bottom: 28px
          color: $text-black
        p 
          font-size: 18px
          line-height: 25px
          color: $text-black
      .custome_informe_ti
        display: inline-block
        text-align: center
        // width: 20.5%
        // margin: 0 2% 0 0
        padding: 10px
        width: 100%
        .avia-animated-number-title span 
          font-weight: 600
          font-size: 30px
        .avia-animated-number-content p 
          font-size: 22px

    .av_two_fifth
      width: 100% !important
      overflow: visible !important
      .avia-image-container-inner
        overflow: hidden
        width: 100%
      .avia-image-overlay-wrap
        position: relative
        padding: 0 0 20px 20px
        &::before
          content: ''
          display: block
          background: $accent
          position: absolute
          height: 58%
          width: calc( 100% + 15px )
          left: -15px
          bottom: -15px
          z-index: 0
        img
          min-height: 505px
          width: 100%
          height: auto
          object-fit: cover
  .custome_btn_default
    margin-top: 10px
    a
      border: 2px solid #0B1B34
      font-weight: 600
      font-size: 18px
      line-height: 25px
      padding: 18px
      margin: 0
          
          
          

#top
  #wrap_all
    .custome_grid_row_accordin_wrap
      section
        .avia_textblock  
          margin-bottom: 50px
          h2
            
            margin-bottom: 0px
      .tabcontainer
        .tab_titles
          width: 45%
          height: 100%
          min-height: 816px
          max-width: none
          padding-top: 35px 
          padding-bottom: 35px
          // background: #F0F2F4
          .tab
            padding-left: 68px
            left: -18px
            padding-top: 22px
            padding-bottom: 22px
            font-size: 18px
            line-height: 25px
            color: $text-black
            display: flex
            align-items: center
            border: none
            // overflow: hidden
            &.active_tab
              width: 100%
              background: #191919
              color: $text-white
              position: relative
              &:after 
                content: '' 
                position: absolute
                right: -2%
                top: 0
                bottom: 0
                background: #191919
                clip-path: polygon(0 0, 0 100%, 100% 50%)
                width: 40px
                height: 100%
                z-index: -2
            .tab_icon
              font-size: 40px
              margin-right: 26px


        .av_tab_section
          .tab_content 
            padding-left: 0
            width: 55%
          .tab_inner_content
            margin: 10px
            padding: 20px
            background: rgba(25, 25, 25, 0.9)
            position: static
            h3,p
              color: $text-white
            p img
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 100%
              z-index: -1
              overflow: visible
              object-fit: cover
              &::nth-child(2), &::nth-child(3), &::nth-child(4), &::nth-child(2), &::nth-child(5)
                display: none !important

            .btn_wrap
              display: block
              margin-top: 60px
              .custome_btn_default
                display: flex
                max-width: 300px
                padding: 18px 40px
                border: solid 2px $text-white
                color: $text-white
                font-weight: 600
                font-size: 18px
                line-height: 25px
                &::after
                  content: '\e80c'
                  font-family: Fontello
                  font-size: 30px
                  color: $text-white
                  margin-left: 15px

                


      

#top
  .custome_map-iconlist_grid
    display: flex
    flex-direction: column
    .av_two_fifth
      width: 100% !important
      height: auto !important
      padding-left: 50px !important
      padding-right: 50px !important

    .av_three_fifth
      width: 100% !important
      padding: 0 !important
      // padding-left: 50px !important
      // padding-right: 50px !important
    .avia-icon-list-container
      li.avia_start_animation
        display: flex
        align-items: center
        .iconlist_icon
          background: transparent
          color: $accent  
          font-size: 35px
          width: 35px
          text-align: center
          margin-left: 0
          // margin-right: 30px
        .article-icon-entry 
          min-height: auto
      .iconlist_content_wrap
        .iconlist_content
          p, a
            font-size: 18px
            line-height: 25px
            color: $text-black
    
      


#top
  .custome_map_grid
    .flex_cell.av_one_full  
      padding: 30px 0 0 0 !important
      padding-left: 0 !important
      padding-right: 0 !important
      .av_textblock_section 
        #gd_map_canvas_directory, #gd_map_canvas_directory_wrapper, #sticky_map_gd_map_canvas_directory
          max-height: 650px
          min-height: auto !important
        .gd-trigger
          margin-right: 30px !important
          i 
            color: $text-black
    .custome_triangle h2 
      margin-bottom: 15px
      margin-top: 15px
    .inputbox.geodir-hide
      display: none
    .map_category
      background: rgba(255, 255, 255, 0.95)
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15)
      padding: 0
      .treeview.main_list
        padding: 10px !important
        width: 300px
        li
          display: flex
          align-items: center
          padding: 5px 0
          margin: 0
          label
            font-size: 15px
            line-height: 20px
            color: $text-black
            img
              display: none
          &::before
            content: '✓'
            font-size: 10px
            font-weight: bold
            margin-right: 15px
            background: $accent
            border-radius: 50px
            display: flex
            align-items: center
            justify-content: center
            width: 20px
            height: 20px
          &.unchecked
            &::before
              content: ''
              background: transparent
              border: solid 1px $text-black


#top
  .custom_form_section
    .container
      .template-page.content
        padding: 50px 0 !important
        form
          p 
            font-weight: bold
            font-size: 35px
            line-height: 48px
            color: $text-white
            text-align: center
            margin: 0
            padding-bottom: 16px
          fieldset
            display: flex
            align-items: center
            flex-direction: column
            p 
              width: 100%
              input
                padding: 20px
                font-weight: normal
                font-size: 16px
                line-height: 19px
                color: $text-grey
                background: transparent
                &.button
                  background: $accent
                  color: $text-white

#top
  .custom_slider_review_section
    .entry-content-wrapper
      display: flex
      flex-wrap: wrap
      align-items: normal
      .avia_textblock h4
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
      .av_three_fifth
        width: 100%
      .av_two_fifth
        width: 100% 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        // margin-bottom: 30px
        margin: 0
      .custom_slider_wrap
        position: relative
        margin-top: 35px
        .slick-arrow
          position: absolute
          top: auto
          bottom: 0
          right: 35%
          z-index: 15
          // transform: translateX(-50%)
          border: none
          background: transparent
          &::before
            content: '\e80c'
            font-family: Fontello
            font-size: 20px
            color: $text-black
          &.slick-prev
            right: auto
            left: 35%
            &::before
              content: '\e80b'
          &:hover
            transform: scale(1.2)
            &::before
              color: $accent
              font-weight: bold

    .sl-count
      font-size: 70px
      line-height: 90px
      text-align: start
      .sl-count__current
        color: $text-black
      .sl-count__total
        color: #8D8D8D







   


#top
  #wrap_all
    .custome_datails_1section
      min-height: 550px
      > div 
        display: flex
        align-items: center
        padding-left: 0
        .avia_textblock  
          padding: 60px 250px 60px calc( 30px + var(--marginB) ) 
          background: rgba(25, 25, 25, 0.7)
          min-width: 60vw
          h1
            font-weight: bold
            line-height: 68px
            color: $text-white


#top
  .custom_details_section2
    .container
      margin-top: -170px
      .entry-content-wrapper
        display: flex
        align-items: stretch
      .av_three_fifth
        display: flex
        align-items: flex-end
        flex-direction: column
        justify-content: center
        margin-left: 0
        width: 50%
        
        padding: 0 10px
        .avia-image-container
          margin: 0
          width: 100%
        .custom_btn
          position: absolute
          bottom: -35px
          a
            background: transparent
            right: 0
            border: 2px solid #022227
            padding: 18px 50px
            .avia_iconbox_title
              font-weight: 600
              font-size: 18px
              line-height: 25px
              color: #022227
              
      .av_two_fifth
        width: 50%
        .avia-icon-list-container, .custome_oferta_lists
          margin: 0
          padding: 40px
          background: #F0F2F4
          .av-iconlist-small
            .iconlist_icon
              color: $accent !important
              font-size: 30px !important
          > ul
              li
                display: flex
                align-items: center
                padding: 22px 0
                .iconlist_icon
                  margin-right: 18px
                .article-icon-entry 
                  width: 100%
                  .iconlist_content_wrap
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .entry-content-header
                      min-width: 40%
                      width: auto
                      margin-right: 10px
                    .av_iconlist_title
                      font-size: 20px
                      line-height: 27px  
                      color: $text-black

                    .iconlist_content p
                      font-weight: 600
                      font-size: 40px
                      line-height: 54px
                      color: $text-black
                      margin: 0

                    .geodir_post_meta
                      font-weight: 600
                      font-size: 32px
                      line-height: 44px
                      color: $text-black
          &::before
            content: ''
            display: block
            height: 100%
            width: 10px
            background: $accent
            position: absolute
            left: 0
            bottom: 0
            z-index: 3

#top
  .custom_third_section
    .av_textblock_section 
      h2
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
    .avia-icon-list-container 
      ul.avia-icon-list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        li
          width: 48%
          padding: 37px 0
          .iconlist_icon 
            display: none 
          .av_iconlist_title
            background: $accent
            padding: 3px 27px 6px 15px
            margin-right: 9px
            font-weight: 600
            font-size: 32px
            line-height: 44px
            color: $text-white
            -webkit-clip-path: polygon(0 0%,100% 0,69% 100%,0 100%)
            clip-path: polygon(0 0%,100% 0,80% 100%,0 100%)
          .iconlist_content  p 
            font-size: 16px
            line-height: 22px
            color: $text-black
            &:nth-child(1)
              font-size: 20px
              line-height: 27px
              
          .iconlist_content_wrap
            display: flex
            justify-content: center
            align-items: start

#top
  .custom_slider_section
    .av_textblock_section 
      h3
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
    .geodir-image-wrapper
      padding: 35px
      ul.geodir-gallery
        position: relative
        .slick-list
          .slick-slide
            > div
              padding: 10px
              line-height: 0
              li
                height: 350px
                // line-height: 0 !important
                margin: 0 !important
        .slick-arrow
          position: absolute
          top: -72px
          &.slick-prev
            right: 60px

          &.slick-next
            right: -22px
        &::before
          content: ''
          display: block
          background: $accent
          width: 391px
          height: 380px
          left: -22px
          bottom: -22px
          position: absolute 
          z-index: -9
          visibility: visible !important
        &::after
          content: ''
          display: block
          background: $accent
          width: 391px
          height: 380px
          right: -22px
          top: -22px
          position: absolute 
          z-index: -9
          visibility: visible
            


#top
  .zobacz_section
    background: #FDFDFD
    .avia_textblock
      h3
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
        margin-bottom: 15px
    .avia-icon-list-container  
      ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        li
          width: 48%
          padding: 8px 25px
          margin: 15px 0
          background: #FBFCFB
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15)
          display: flex
          align-items: center
          .iconlist_icon 
            background: transparent !important
            font-size: 35px
            color: $text-black !important
          .iconlist_content_wrap, .article-icon-entry
            min-height: auto
            padding: 0
            .iconlist_title
              font-size: 18px
              line-height: 25px
              color: $text-black
              margin-top: 0
  
          
// #top
//   .custom_onasp_1section
//     section
//       .avia_textblock
//         background: rgba(25, 25, 25, 0.7) 
//         // max-width: 1300px
//         max-width: 70%
//         width: auto
//         padding: 60px 0 
//         h1
//           font-size: 35px
//           color: $text-white
//           margin-left: calc( var(--marginB) + 50px )


#top
  .custom_onasp_informsection
    padding-top: 100px
    .entry-content-wrapper
      display: flex
      align-items: center
      flex-direction: column
    .av_two_fifth
      width: 100%
      .avia_textblock  
        h2

          margin-bottom: 9px
          text-transform: none
        p
          font-size: 16px
          line-height: 22px
          color: $text-black
    .av_three_fifth
      width: 100%
      margin-left: 0
      display: flex
      align-items: center
      .avia-icon-list-container 
        ul.avia-icon-list
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          li
            width: 100%
            padding: 17px 0
            .iconlist_icon 
              display: none 
            .av_iconlist_title
              background: $accent
              padding: 3px 27px 6px 15px
              margin-right: 9px
              font-weight: 600
              font-size: 32px
              line-height: 44px
              color: $text-white
              -webkit-clip-path: polygon(0 0%,100% 0,69% 100%,0 100%)
              clip-path: polygon(0 0%,100% 0,80% 100%,0 100%)
            .iconlist_content  p 
              font-size: 16px
              line-height: 22px
              color: $text-black
            .iconlist_content_wrap
              display: flex
              align-items: start
          
#top
  .custom_slider_section
    padding-top: 30px
    padding-bottom: 30px
    .image_slider_wrap
      position: relative
      // background: red
      // z-index: 999
      .slick-list
        .slick-slide
          > div
            padding: 10px
            line-height: 0
            .avia-image-overlay-wrap
              // min-width: 340px
              width: auto
              height: 250px
              overflow: hidden
              display: flex
              justify-content: center
              align-items: center
              img.avia_image
                width: 100%
                height: 100%
                object-fit: cover
      // &::before
      //   content: ''
      //   display: block
      //   background: $accent
      //   width: 406px
      //   height: 372px
      //   left: -12px
      //   bottom: -2px
      //   position: absolute 
      //   z-index: -9
      //   visibility: visible !important
      // &::after
      //   content: ''
      //   display: block
      //   background: $accent
      //   width: 404px
      //   height: 372px
      //   right: -12px
      //   top: -12px
      //   position: absolute 
      //   z-index: -9
      //   visibility: visible          
    .slick-arrow
      position: absolute
      top: auto
      bottom: -25px
      right: 5px
      border: none
      background: transparent
      &::before
        content: '\e80c'
        font-family: Fontello
        font-size: 30px
        color: $text-black
      &.slick-prev
        right: 58px
        &::before
          content: '\e80b'
      &:hover
        transform: scale(1.2)
        &::before
          color: $accent
          font-weight: bold
      


        

#top
  .custom_wy_us_section
    padding: 50px  0
    background: #F0F2F4
    .avia_textblock  
      h3
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
        margin-bottom: 10px
    .av_one_third
      margin-top: 40px
      margin-left: 0
      margin-right: 2%
      width: 32%
      &:last-child
        margin-right: 0
      .iconbox_content
        background: none
        box-shadow: none
        padding: 0
      .iconbox_icon
        position: relative
        background-color: inherit
        color: $text-black
        font-size: 45px
        left: auto
        top: auto
        margin: 0 auto
        line-height: 45px
        width: auto
        height: auto
        padding: 0 0 28px 0
      .iconbox_content_title  
        font-weight: bold
        font-size: 20px
        line-height: 27px
      .iconbox_content_container p
        font-size: 16px
        line-height: 22px
        margin-top: 0
        color: $text-black



#top
  .custome_accordin_section
    padding-bottom: 70px
    overflow: hidden
    .avia_textblock
      h3
        font-weight: bold
        font-size: 35px
        line-height: 48px
        color: $text-black
    .togglecontainer
      margin-top: 47px
      position: relative
      display: flex
      flex-direction: column
      .single_toggle
        max-width: 40%
        overflow: visible
        position: static
      .toggler
        font-size: 18px
        line-height: 25px
        color: $text-black
        padding: 28px 31px
        display: flex
        justify-content: space-between
        &.activeTitle
          background: #000
          color: $text-white
          &::after
            content: '-'
            font-size: 30px
            color: $text-white
        .toggle_icon
          display: none
        &::after
          content: '+'
          font-size: 30px
          color: $text-black
      .toggle_content
        p 
          font-size: 16px
          line-height: 22px
          color: $text-black
          width: 100% 
          &:last-child
            position: absolute
            right: 22px 
            top: 3%
            width: 55%
            height: 93%
            display: flex
            align-items: center
            justify-content: center
            margin-top: 0

            img
              width: 100%
              height: 100%
              object-fit: cover
              position: relative
            &::after
              content: ''
              background: $accent
              height: 107%
              width: 80%
              top: -22px
              right: -22px
              position: absolute
              z-index: -2


#top
  .custome_grid_realiz_section
    .custome_accord_tit 
      padding-top: 108px
      font-weight: bold
      font-size: 35px
      line-height: 48px
      color: $text-black
      // margin-left: calc(var(--marginB) + 50px)
      padding-left: 25px
    .list.custom-tabs-form
      .tabcontainer 
        .tab_titles
          padding: 25px 25px 25px 0
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          .tab
            border: none
            font-size: 18px
            line-height: 25px
            color: $text-black
            background: #F0F2F4 
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25)
            padding: 18px 38px
            // margin-right: 15px
            margin-bottom: 10px
            width: 49%
            text-align: center
            &.active_tab
              font-weight: 600
              color: $text-white
              background: $accent
        .tab_content
          padding-right: 0
          padding-left: 0
          &.active_tab_content
            background: inherit
            border: none
          .gd_place
            .arhive_item_wrap
              display: flex
              justify-content: space-between
              .media_box
                width: 45%
                .geodir-viewport
                  margin-bottom: 0
                ul.geodir-slides
                  > li
                    // width: 100% !important
                    height: 265px 
                    // img
                    //   width: 100%
                .geodir-direction-nav
                  // display: none
                  width: 0
                  height: 0
              .content_box
                width: 53%
                padding-right: 22px
                display: flex
                flex-direction: column
                .title_box
                  .geodir-field-post_title
                    font-weight: bold
                    font-size: 20px
                    line-height: 27px
                    color: $text-black
                .adress_box
                  .geodir-field-address 
                    display: flex
                    span 
                      font-size: 16px
                      line-height: 22px
                      color: $text-grey
                      margin-right: 10px
                .discription_box
                  
                  .geodir-field-post_content
                    // p 
                    font-weight: normal
                    font-size: 16px
                    line-height: 22px
                    color: $text-black
                    word-break: break-word
                    a
                      display: none
                .characteristics_box
                  display: flex
                  justify-content: space-between
                  margin-top: auto
                  .geodir-field-price, .geodir-field-timing
                    font-weight: 600
                    font-size: 18px
                    line-height: 25px
                    color: $text-black
                    display: flex
                    align-items: center
                    &::before
                      font-family: fontello
                      color: $accent
                      font-size: 30px
                      margin-right: 11px
                  .geodir-field-price
                    &::before
                      content: '\e80f'
                  .geodir-field-timing 
                    &::before
                      content: '\e80e'
                    


#top
  .custom-tabs-form
    .custome_triangle
      margin-top: 50px



@media screen and ( min-width: 430px )

  #top .second_section_home_cust .av_three_fifth .custome_informe_ti 
    text-align: start
    padding: 10px 20px 10px 0
    width: 49%

  #top #wrap_all .custome_grid_row_accordin_wrap .tabcontainer .av_tab_section .tab_inner_content 
    margin: 35px
    padding: 50px









@media screen and ( min-width: 576px )


  #top
    .title_grid_row
      .title_wrap
        .av_one_full
          padding: 30px 50px
          // max-width: 70%
        .av-special-heading-tag
          font-size: 50px
        .avia_textblock 
          p
            font-weight: 600
            font-size: 30px


  #top .custom_slider_review_section
      .entry-content-wrapper
        .custom_slider_wrap
          .slick-arrow
            &::before
              font-size: 30px
            &.slick-prev
              right: 65px 


  #top
    .custome_map_grid
      .custome_triangle h2
        margin-bottom: 60px
        margin-top: 60px
      .flex_cell.av_one_full  
        padding: 30px 0 0 !important
        .av_textblock_section 
          #gd_map_canvas_directory, #gd_map_canvas_directory_wrapper, #sticky_map_gd_map_canvas_directory
            max-height: 1023px
            min-height: 1023px
            height: auto
          .gd-trigger
            margin-right: 400px !important
            i 
              color: #fff
            
        .treeview.main_list 
          padding: 18px!important
          width: 400px
          li
            padding: 10px 0
            label
              font-size: 18px
              line-height: 25px


  #top
    .custom_slider_review_section
      .entry-content-wrapper
        .av_two_fifth
          flex-direction: row-reverse


  #top
    .custom_form_section
      .container
        .template-page.content
          padding: 120px 0 140px 0 !important
          form
            p 
              margin: 0 auto
              padding-bottom: 42px
            fieldset
              display: flex
              align-items: center
              flex-direction: row
              justify-content: space-between
              p
                width: 32%
                margin: 0
                input.button
                  border: 1px solid $accent
                  




@media screen and ( min-width: 768px )

  #top
    .custom_slider_section
      .slick-arrow
        position: absolute
        top: -82px
        bottom: auto
        border: none
        background: transparent



  #top
    .custom_slider_review_section
      .entry-content-wrapper
        .custom_slider_wrap
          position: static
          .slick-arrow
            top: 180px
            bottom: auto
            right: 65px
            &.slick-prev
              left: auto
              right: 115px

  #top
    .title_grid_row
      .title_wrap
        .av_one_full
          max-width: 70%


  #top
    #wrap_all
      .custome_grid_row_accordin_wrap
        section
          .avia_textblock  
            h2
              padding-left: 50px

  #top
    .custome_map_grid
      .custome_triangle
        h2
          padding-left: 50px



    .custom_slider_review_section
      .entry-content-wrapper
        .custom_slider_rev_img img
          width: 760px 
          height: 276px


  
  #top
    .title_grid_row
      .flex_cell
        // min-height: 70vw
      .title_wrap
        .avia_textblock 
          display: flex



  #top
  .custom_onasp_informsection
    .av_three_fifth
      .avia-icon-list-container 
        ul.avia-icon-list
          li
            width: 48%
            padding: 37px 0




@media screen and ( min-width: 990px )

  #top
    .custom_slider_review_section
      .entry-content-wrapper
        display: flex
        flex-wrap: wrap
        align-items: stretch
        .av_three_fifth
          width: 57.599999999999994%

          .custome_btn_default a
            margin: 20px 0 0 0
        .av_two_fifth
          width: 40%
          display: flex
          flex-direction: column
          align-items: flex-end
          justify-content: flex-end
          margin-bottom: 30px
        .custom_slider_wrap
          margin-top: 35px
          .slick-arrow
            position: absolute
            top: 210px
            right: 0
            &.slick-prev
              right: 120px !important
        .sl-count
          font-size: 90px
          line-height: 123px
          text-align: right
          .sl-count__current
            font-weight: normal
            color: $text-black
          .sl-count__total
            font-weight: 300
            color: #8D8D8D


  #top
    .custome_map-iconlist_grid
      display: block
      .av_two_fifth
        width: 50% !important
        padding-right: 30px
      .av_three_fifth
        width: 50% !important
        padding: 0 !important

  #top     
    .second_section_home_cust
      justify-content: space-between
      .av_two_fifth
        width: 41% !important
        
      .av_three_fifth
        width: 58% !important


@media screen and ( min-width: 1072px )


  #top
    .custome_btn_default
      a
        padding: 16px 50px
        


  
  #top
    .custom_details_section2
      .container
        .av_two_fifth
          width: 36.4%
        .av_three_fifth
          width: 57.599999999999994%
          padding: 0 10px 0 74px





@media screen and ( min-width: 1199px )




  #top
    .custom_details_section2
      .container
        
        .av_two_fifth
          .avia-icon-list-container, .custome_oferta_lists
            margin: 0
            padding: 65px 55px

  #top
    .custom_onasp_informsection
      .entry-content-wrapper
        display: flex
        align-items: stretch
        flex-direction: row
        .av_two_fifth
          width: 36.4%
        .av_three_fifth
          display: flex
          align-items: center
          margin-left: 6%
          width: 57.599999999999994%

  #top
    .custom_slider_section
      .image_slider_wrap
        .slick-list
          .slick-slide
            >div
              .avia-image-overlay-wrap
                height: 300px

  #top
    .custome_map-iconlist_grid
      .av_two_fifth
        padding-right: 0 !important
        width: 40% !important
      .av_three_fifth
        width: 60% !important

// @media screen and ( min-width: 1210px )


      


@media screen and ( min-width: 1311px )


  #top
    #wrap_all
      .custome_grid_row_accordin_wrap
        section
          .avia_textblock  
            h2
              padding-left: calc( var(--marginB) + 50px )

  #top
    .second_section_home_cust
      .av_three_fifth
        .custome_informe_ti
          padding: 35px 10px 55px 0
          width: 24%


  #top
    .title_grid_row
      .title_wrap
        .av_one_full
          padding: 55px 55px 55px calc( var(--marginB) + 50px )

  #top
    .custome_map-iconlist_grid
      .av_two_fifth
        padding-left: calc(var(--marginB) + 50px ) !important
        padding-right: 0 !important

            

  #top
    #wrap_all
      .custome_grid_row_accordin_wrap
        section
          .avia_textblock  
            margin-bottom: 50px
            h3
              font-size: 35px
              color: $text-black
              margin-left: calc( var(--marginB) + 50px )
              margin-bottom: 0px
        .tabcontainer
          .tab_titles
            .tab
              padding-left: calc(var(--marginB) + 68px )

          .av_tab_section
            .tab_content 
              padding-left: 0
            .tab_inner_content
              margin: 35px var(--marginB) 30px 43px
              padding: 84px 84px 84px 51px
              p img
                width: calc( 100% + var(--marginB) )


  #top
    .custome_map_grid
      .flex_cell.av_one_full  
        padding: 30px 0 0
      .custome_triangle h2 
        padding-left: calc(var(--marginB) + 50px )




  #top
    .custome_map_grid
      .flex_cell.av_one_full  
      .inputbox.geodir-hide
        display: none
      .map_category
        .treeview.main_list
          padding: 32px !important
          width: 460px
          li
            padding: 25px 0
            label
              img
                display: none
            &::before
              width: 30px
              height: 30px
            &.unchecked
              &::before
                content: ''
                background: transparent
                border: solid 1px $text-black
      
  #top
    .custom_slider_section
      .image_slider_wrap
        .slick-list
          .slick-slide
            > div
              .avia-image-overlay-wrap
                height: 350px



@media screen and ( max-width: 767px )

  #top
    #wrap_all
      .custome_grid_row_accordin_wrap
        .tabcontainer
          .av_tab_section
            .tab.fullsize-tab
              padding-top: 22px
              padding-bottom: 22px
              font-size: 18px
              line-height: 25px
              color: $text-black
              display: flex
              align-items: center
              border: none
              // overflow: hidden
              &.active_tab
                width: 100%
                background: #191919
                color: $text-white
                position: relative
            .tab_icon
              margin-right: 15px
            .tab_content
              padding: 0px






        












// div
//   position: absolute
//   left: 110%
//   top: 2px
//   width: 634px
//   height: 600px
//   display: flex
//   align-items: center
//   justify-content: center
//   overflow: hidden
//   img
//     width: 100%
//     height: 100%
//     object-fit: cover

            




           
          











        


































































  
@media screen and ( min-width:  1310px)
  #top
    #wrap_all
      .custom-left-wrap
        > .flex_cell_inner
            // --marginA: calc(100vw - 1310px)
            // --marginB: calc(var(--marginA) / 2)
            margin-left: var(--marginB)