@import 'parts/variables'
@import 'parts/display'
@import 'parts/layout'
@import 'parts/hardcore'
@import 'parts/spec'
@import 'parts/top_nav'
@import 'parts/header'
// @import 'fonts'




#top
  #wrap_all
    .first_section_custome
      .av-special-heading-tag
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 50px
        text-transform: uppercase
        color: #F0F2F4
      .avia_textblock 
        display: flex
        p
          font-weight: 600
          font-size: 30px
          text-transform: uppercase
          color: #F0F2F4
          margin-right: 12px;
          &:nth-child(2)
            color: $accent


#top
  #wrap_all
    .custom-left-wrap
    > .flex_cell_inner
        margin-left: auto;
    .second_section_home_cust
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // max-width: calc( 100% - 16% )
      // margin-left: auto;
      > div
        &:nth-child(1)
          // padding-left: 346.5px !important;
          // max-width: 760px;
          // margin: 0 0 0 auto;
          section
            .avia_textblock
              h2  
                font-size: 35px
                font-weight: bold;
                margin-bottom: 28px;
          .custome_informe_ti
            display: inline-block;
            text-align: start;
            // width: 20.5%;
            // margin: 0 2% 0 0;
            padding: 35px 10px 60px 0;
            width: 24%;
            .avia-animated-number-title span 
              font-weight: 600;
              font-size: 30px
            .avia-animated-number-content p 
              font-size: 20px

        &:nth-child(2)
          padding: 30px 0 30px 64px;
          .avia-image-overlay-wrap
            position: relative;
            &::before
              content: ''
              display: block;
              background: $accent;
              position: absolute;
              height: 58%;
              width: calc( 100% + 15px )
              left: -15px
              bottom: -15px
              z-index: 0;
      .custome_btn_default
        a
          border: 2px solid #0B1B34
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          padding: 18px 45px;
          margin: 0;
          
          
          

#top
  #wrap_all
    .custome_grid_row_accordin_wrap
      section
        .avia_textblock  
          h3
            font-size: 35px
            color: $text-black
            margin-left: calc( var(--marginB) + 50px )
      .tabcontainer
        .tab_titles
          width: 35%;
          max-width: none
          .tab
            padding-left: calc(var(--marginB) + 57px )
            left: -7px
            // overflow: hidden
            &.active_tab
              width: 100%;
              background: #191919;
              color: $text-white
              position: relative;
              // &:after 
              //   content: ''; 
              //   position: absolute;
              //   right: -30px; 
              //   top: 0;
              //   bottom: 0;
              //   border: 25px solid transparent; 
              //   border-left: 20px solid red;


        .av_tab_section
          .tab_content 
            padding-left: 0;
          .tab_inner_content
            margin: 35px var(--marginB) 30px 43px
            padding: 84px 84px 84px 51px
            background: rgba(25, 25, 25, 0.9)
            position: static;
            h3,p
              color: $text-white
            p img
              position: absolute;
              left: 0
              top: 0
              width: calc( 100% + var(--marginB) )
              z-index: -1;
              overflow: visible
              &::nth-child(2), &::nth-child(3), &::nth-child(4), &::nth-child(2), &::nth-child(5)
                display: none !important
                

#top
  #wrap_all
    .custome_map_grid
      .flex_cell.av_one_full  
        padding: 30px 0 0;
        .avia_textblock  h3 
          padding-left: calc(var(--marginB) + 50px )
          font-weight: bold;
          font-size: 35px
          line-height: 48px
          color: $text-black
      #gd_map_canvas_directory_search_string
        display: none;
      #gd_map_canvas_directory_cat
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15)
        .treeview.main_list
          padding: 32px !important;
          width: 460px;
          li
            display: flex;
            padding: 25px 0;
            margin: 0;
            label
              font-size: 18px;
              line-height: 25px
              color: $text-black
              img
                display: none;
            &::before
              content: '✓'
              font-size: 10px;
              font-weight: bold;
              margin-right: 15px;
              background: $accent;
              border-radius: 50px
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
            &.unchecked
              &::before
                content: ''
                background: transparent;
                border: solid 1px $text-black


#top
  #wrap_all
    .custom_form_section
      .container
        .template-page.content
          padding: 120px 0 140px 0 !important;
          form
            p 
              font-weight: bold;
              font-size: 35px;
              line-height: 48px;
              color: $text-white
              text-align: center;
              margin-bottom: 0;
              padding-bottom: 42px;
            fieldset
              p 
                input
                  font-size: 16px;
                  line-height: 19px
                  color: $text-grey
                  background: transparent;
                  &.button
                    background: $accent;
                    color: $text-white





#top
  #wrap_all
    .custome_datails_1section
      min-height: 550px
      > div 
        display: flex;
        align-items: center;
        padding-left: 0
        .avia_textblock  
          padding: 60px 250px 60px calc( 30px + var(--marginB) ) 
          background: rgba(25, 25, 25, 0.7)
          min-width: 60vw
          h1
            font-weight: bold;
            line-height: 68px
            color: $text-white


#top
  .custom_details_section2
    .container
      margin-top: -170px;

      .av_two_fifth
        .avia-icon-list-container  
          margin: 0;
          padding: 65px 55px;
          background: #F0F2F4;
          > ul
              li
                display: flex;
                align-items: center
                padding: 22px 0;
                .iconlist_icon
                  margin-right: 18px;
                .article-icon-entry 
                  .iconlist_content_wrap
                    display: flex;
                    align-items: center;
                    .av_iconlist_title
                      font-size: 20px;
                      line-height: 27px;  
                      color: $text-black
                      margin-right: 24px;
                      min-width: 85px;
                      width: auto;
                    .geodir_post_meta
                      font-weight: 600;
                      font-size: 32px;
                      line-height: 44px;
                      color: $text-black



// template-page 
  
          











        


































































  
@media screen and ( min-width:  1310px)
  #top
    #wrap_all
      .custom-left-wrap
        > .flex_cell_inner
            // --marginA: calc(100vw - 1310px)
            // --marginB: calc(var(--marginA) / 2);
            margin-left: var(--marginB);