
  

  
@media only screen and (max-width: 767px)
  .custome_map_grid, .custome_map-iconlist_grid
    .geodir-map-wrap 
      margin-left: -8vw
      margin-right: -8vw

  .responsive #top #wrap_all .container
    width: 100% !important
    padding: 0 50px !important
    max-width: none !important