@import 'parts/variables'
  

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box
  outline: none
  &:focus, &:active
    outline: none
body
  font-size: 15px
  margin: 0
  padding: 0

h1, h2, h3, h4, p
  margin: 0
  padding: 0
  font-weight: normal

h1
  font-size: 46px
  font-family: 'Open Sans', sans-serif;

h2
  font-size: 35px
  font-family: 'Open Sans', sans-serif;

h3
  font-size: 35px
  font-family: 'Open Sans', sans-serif;

ul, li
  list-style: none
  margin: 0
  padding: 0

a, a:hover, a:focus, a:active
  text-decoration: none !important
  color: #222

p 
  margin: 15px 0
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 25px
  color: $text-black

img
  max-width: 100%
  height: auto

input 
  -webkit-appearance: none
  border-radius: 0 
  font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif !important


// section, footer
//   padding: 20px 0

.tt-uppercase
  text-transform: uppercase

.mr-10
  margin-right: 10px


.avia_transform .avia-icon-list.av-iconlist-big.avia-iconlist-animate .avia_start_animation .iconlist-timeline
  display: none !important


.custome_triangle
  > h2
    font-weight: bold !important
    font-size: 27px
    line-height: 34px
    color: $text-black
    letter-spacing: normal
    margin-left: 0
    &::before
      content: '\e807'
      font-family: Fontello
      font-size: 42px
      color: $accent
      margin-right: -25px
.av-layout-grid-container
  .custome_triangle
    > h2
      margin-left: 0px

body .custome_grid_realiz_section 
  .custome_triangle
    > h2
      margin-left: 10%
      margin-top: 25px

.sticker-map-container
  display: flex
  flex-direction: column


.sticker-map, .sticker-tabs
  position: -webkit-sticky
  position: sticky
  top: 0
  height: 100vh

#top
  .avia-icon-list 
    .iconlist_icon
      height: auto
      width: auto
      line-height: 0



#top .custome_btn_default.btn_padding_top
  padding-top: 50px !important

@media screen and ( min-width: 440px )

  .custome_triangle
    > h2
      font-size: 30px
      line-height: 38px




@media screen and ( min-width: 576px )
    
  .custome_triangle
    > h2
      font-size: 35px
      line-height: 48px
      color: $text-black
      &::before
        content: '\e807'
        font-family: Fontello
        font-size: 61px
        color: $accent

@media screen and ( min-width: 768px )
  .av-layout-grid-container
    .custome_triangle
      > h2
        margin-left: 50px
  
@media screen and ( min-width: 990px )

  body .custome_grid_realiz_section 
    .custome_triangle
      > h2
        margin-left: 0
        

  .sticker-map-container
    display: grid
    grid-template-columns: 50% 50%

@media screen and ( min-width: 1310px )

  .av-layout-grid-container
    .custome_triangle
      > h2
        margin-left: calc( var(--marginB) + 50px )
  
  .custome_map-iconlist_grid, .second_section_home_cust
    .custome_triangle
      > h2
        margin-left: 0


@media screen and ( max-width: 989px )
  .padding-off-990 
    padding-top: 0 !important
    padding-bottom: 0 !important

  // #header_main
  //   .av-logo-container
  //     overflow: hidden !important

body
  --marginA: calc(100vw - 1310px)
  --marginB: calc(var(--marginA) / 2)

  --lefterA: calc(-100vw + 1310px)
  --lefterB: calc(var(--lefterA) / 2)

#top .tabcontainer
  margin-top: 0 !important
  margin-bottom: 50px
  &.margin-off
    margin: 0

.slick-slider.image_slider_wrap .slick-list
  margin-left: -20px
  margin-right: -20px