
  

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box
  outline: none
  &:focus, &:active
    outline: none
body
  font-size: 15px
  margin: 0
  padding: 0
  font-family: $ff-montserrat

h1, h2, h3, h4, p
  font-family: $ff-montserrat
  margin: 0
  padding: 0
  font-weight: normal

h1
  font-size: 50px

h2
  font-size: 35px;

h3
  font-size: 35px

ul, li
  list-style: none
  margin: 0
  padding: 0

a, a:hover, a:focus, a:active
  text-decoration: none
  color: #222

p 
  margin: 15px 0
  font-family: $ff-montserrat
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 25px
  color: $text-black

img
  max-width: 100%
  height: auto

input 
  -webkit-appearance: none
  border-radius: 0 


section, footer
  padding: 20px 0



.avia_transform .avia-icon-list.av-iconlist-big.avia-iconlist-animate .avia_start_animation .iconlist-timeline
  display: none !important


