#top
  #header
    .main_menu
      
      .avia-menu
        display: flex
        justify-content: flex-end
        width: 100%
        
        > ul.av-main-nav
          > li
            padding: 40px 38px
            > a
              padding: 0
              .avia-menu-text
                font-size: 17px
                line-height: 23px
                font-weight: normal;
                color: $text-black
              &:hover
                .avia-menu-text
                  // font-weight: bold
                  transition: all .2s
            &.av-burger-menu-main
              right: 0
              padding-right: 0
              .av-hamburger
                .av-hamburger-inner
                  background: $text-white
                  &::before, &::after
                    background: $text-white !important

                &.is-active
                  .av-hamburger-inner
                    background: $text-black
                    &::before, &::after
                      background: $text-black !important

                  

    .sup-menu
      .sup-menu-wrap  
        display: flex
        justify-content: space-between
        align-items: center
        padding-left: 25px;
        border-top: 10px solid $accent2
        border-bottom: 1px solid $text-grey;
        &::after
          border-top: 10px solid $accent2
          border-bottom: 1px solid $text-grey;
          content: '';
          display: block;
          position: absolute;
          height: 57px;
          width: 50px
          right: -50px
          top: 0;
          overflow-x: hidden
        .faq
          a
            color: $text-black
            font-size: 15px
            line-height: 20px
            text-decoration: none
            padding-left: 36px
            &:hover
              color: $accent  
              transition: all .2s
        .contact
          &-list
            display: flex
            margin: 0
          &-item  
            padding: 18px 36px
            position: relative;
            &:nth-child(2)
              &::before
                content: ''
                display: block;
                background: $text-grey
                height: 65%;
                width: 1px;
                position: absolute;
                top: 18.5%
                left: 0

              
            a 
              display: flex
              color: $text-black
              font-size: 15px
              line-height: 20px
              text-decoration: none
              &:hover
                color: $accent  
                transition: all .2s
                > i
                  &::before
                    color: $accent
              i
                margin-right: 12px
                &::before

                  font-size: 20px
                  color: $text-grey
                  font-family: fontello
              .icon-envelope
                &::before
                  content: '\E810'
              .icon-phone
                &::before
                  content: '\E805'

@media screen and ( min-width: 990px )

  #top
    #header
      .main_menu
        display: block
        margin-left: 30px



@media screen and ( min-width: 1311px )

  #header_main 
    > .container
      > .inner-container
        > .logo 
          &:before
            width: calc( var(--marginB) + 52px )
            left: calc( var(--lefterB) - 50px )
        


  #top
    #header
      .sup-menu
        .sup-menu-wrap  
          &::after
            width: calc(var(--marginB) + 52px)
            right: calc(var(--lefterB) - 50px)

